body{
  padding: 0;
  margin: 0;
}

.divNavBar{
  height: 5vh;
}
.cardContainer{
  padding-bottom: 40px;
}
.blockContent{
  display: flex;
  flex-wrap: wrap;
}

.connexion{
  margin: auto;
}

form{
  margin: auto;
}
.mainPos{
  margin: 100px 0 250px 0;
  height: 80vh;
}

.mainFlex{
  display: flex;
  padding-left: 0;
  height: 80vh;
}

.divFooter{
  height: 5vh;
}

